# google ai studio 
GOOGLE_API_KEY=""

# Supabase 
# Connect to Supabase via connection pooling
DATABASE_URL=""

# Direct connection to the database. Used for migrations
DIRECT_URL=""

# supabase public url 
NEXT_PUBLIC_SUPABASE_DATA_API=""

# supabase service role key 
SERVICE_ROLE_KEY=""

# hf key 
HUGGINGFACE_API_KEY=""

# llama index cloud key 
LLAMA_CLOUD_API_KEY=""

# tavily api 
TAVILY_API_KEY=""

# supadata for youtube transcript 
SUPADATA_API_KEY = ""

# langsmith 
LANGSMITH_TRACING=true
LANGSMITH_ENDPOINT="https://api.smith.langchain.com"
LANGSMITH_API_KEY=""
LANGSMITH_PROJECT=""